<h1><%= @user.email %></h1>

<div class="user_details">
  <div class="user_username">
    <h4>Username: <%= @user.username %></h4>
  </div>
  <div class="user_admin?">
    <h3>Admin: <%= @user.admin %></h3>
  </div>
  <% if current_user.admin? %>
  <div>
    <%= button_to 'Delete', @user, method: :delete %>
  </div>
  <% end %>
</div>
