<h1 class="starstriker-title">Starstriker's Retro Game Reviews!</h1>


<div class="game_list_header">
  <h2>Game List:</h2>
  <div class="game-list small-9 columns small-centered large-10">
    <% @games.each do |game| %>
      <%if user_signed_in? && current_user.admin? %>
        <span class='animated slideInLeft'><%= link_to game.title, game %></span>
        <span class='animated slideInLeft'><%= link_to "delete", game, method: :delete, data: { confirm: "You sure?" } %> </span><br/>
       <%else%>
        <p><%= link_to game.title, game %></p>
       <%end%>
    <% end %>
  </div>
</div>
