<h1>Starstriker's Retro Game Reviews!</h1>

<div class=".game_list">
  <h2>Game List:</h2>
  <ul>
    <% @games.each do |game| %>
      <li><%= link_to game.title, game %></li>
    <% end %>
  </ul>
</div>
