.game-list > .game-box {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  float: left;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 8px;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
 }

.game-list a {
  color: #000000;
 }

.game-list a:hover {
  color: red;
}

.game-details {
  background-color: rgba(254, 254, 254, 0.62);
  border-radius: 10px;
  padding-left: 25px;
}

.starstriker-title {
  font-family: 'Press Start 2P', serif;
}
