.review-show {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #D3D3D3;
}

// .review-body {
//   border-radius: 1px;
//   padding: 10px;
// }
//
// .review-rating {
//   background-color: #a5acaf;
//   border-radius: 1px;
//   color: #ffd700;
//   padding: 10px;
//   text-align: center;
// }
//
// .review-author {
//   background-color: #a5acaf;
//   border-radius: 1px;
//   color: #add8e6;
//   padding: 10px;
//   text-align: center;
// }

.upvote {
  padding: 3px;
}

.downvote {
  padding: 3px;
}

.voted {
  background-color: LightBlue;
}
